@import "products";
@import "cart";

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}

.gnb {
  ul {
    display: flex;
    gap: 1rem;
    margin: 2rem;
  }
}
